@import "tailwindcss";

@theme {
    --animate-panning: pan 5s ease-in-out infinite;

    @keyframes pan {
        0% {
            background-position: 50% 50%;
        }
        20% {
            background-position: 100% 0%;
        }
        40% {
            background-position: 100% 100%;
        }
        60% {
            background-position: 0% 100%;
        }
        80% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }

}


